$navbar_background_color: rgb(34, 34, 34);

$navbar_link_color: rgb(152, 152, 152);

$navbar_link_hover_color: white;

$navbar_link_hover_background_color: rgb(8, 8, 8);

$table_odd_row_color: #f6f6f6;

$table_even_row_color: white;